{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'all.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'create.css' %}">

{% endblock customcss %}


{% block content %}

{% if user.is_authenticated %}
<h1>投稿フォーム</h1>
<form action='' method='POST' enctype='multipart/form-data'>{% csrf_token %}
    <input type="text" placeholder="タイトル" name="title" required>
    <textarea placeholder="内容" name="content" required></textarea>
    <input type='file' name='images'>
    <input type='hidden' name='author' value='{{ user.username }}'>
  
    <input type='submit' value='作成する'>

</form>
{% else %}
ログインしてください
{% endif %}
{% endblock content %}