{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'all.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'detail.css' %}">

{% endblock customcss %}


{% block header %}
<!-- <div class="alert alert-primary" role="alert">
    個別投稿
</div> -->
{% endblock header %}

{% block content %}

<form action="">

<div class='cancel'>
    <a href="{% url 'list' %}">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="gray" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    </a>
</div>

<div  class="contact-form">
    <span>
        <p class='title'>{{object.title}}</p>
        <p class='sub-title'>{{object.created_at}} by <b>{{object.author}}</b></p>
    </span>

    <ul>
        <li>
            <i class="fa fa-university form-icon"></i>
            <p>{{object.content | linebreaksbr}}</p>
            <p><img src="{{ object.images.url }}" width=300></p>
        </li>
    </ul>
</div>
</form>

{% endblock content %}