{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'all.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'signin.css' %}">
{% endblock customcss %}

{% block content %}

<form class="form-signin" method='POST' action=''>{% csrf_token %}
    <svg width="72px" height="72px" viewBox="0 0 16 16" class="icon text-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
    </svg>
    <h1 class="h3 mb-3 font-weight-normal">サインアップする</h1>
    {% if error %}
        {{ error }}
    {% endif %}
    <label for="inputEmail" class="sr-only">ユーザネーム</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="ユーザネーム" required autofocus>
    <label for="inputPassword" class="sr-only">パスワード</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="パスワード" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit">サインイン</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

{% endblock content %}